@model ObajuStore.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng ký tài khoản";
    var selectList = new SelectList(
       new List<SelectListItem>
       {
            new SelectListItem {Text = "Nam", Value = "Nam"},
            new SelectListItem {Text = "Nữ", Value = "Nữ"},
       }, "Value", "Text");
}


<div class="col-md-12">

    <ul class="breadcrumb">
        <li>
            <a href="/">Trang chủ</a>
        </li>
        <li class="active"> Đăng ký</li>
    </ul>

</div>

<div class="col-md-12">
    <div class="container form-login">
        <h1>Tạo mới tài khoản</h1>

        <p class="lead">Bạn chưa phải là khách hàng của chúng tôi?</p>
        <p>Trở thành khách hàng của chúng tôi để theo dõi thông tin về khuyến mãi và những ưu đãi hấp dẫn khác đang chờ bạn! Quá trình chỉ mất ít phút!</p>

        <hr>
        <div class="col-md-7">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Fullname, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Gender, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Gender, selectList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Đăng ký</button>
                </div>
            }
        </div>
    </div>
</div>